<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'paper/css/style.css'%}">
  <title>InfiniCite</title>
</head>

<body>
  <div class="container">
    <h1>InfiniCite</h1>
    <div class="container">
      <h2>Logged out</h1>
        <p>
            You have been successfully logged out.
            You can <a href="{% url "login" %}">log-in again</a>.
        </p>
    </div>
  </div>
</body>
</html>