body {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

aside {
  width: 18%;
  height: 100%;
  transition: 0.5s;
}

aside.close {
  width: 0;
}

section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
}

main {
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}