#search-box {
  background-color: transparent;
  flex-grow: 1;
}

.navbar {
  height: 100%;
  width: 100%;
  /* background-color: transparent;  */
  border-width: 0 0 1px 0;
  border-radius: 1px;
  border-style: solid;
  z-index: 1;
}

.form-inline {
  min-width: 50%;
}

#menu-icon-container {
  margin-right: 12px;
}