:root {
  --link-hover-color: #3c296b;
  --link-active-color: #5e4d7d;
  --icon-hover-color: #666;
}

.sidebar {
  color: white;
  background: rgba(22, 26, 35, 0.8);
  border-radius: 1px;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #555;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  font-size: large;
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
  overflow: hidden;
  will-change: transform;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 10%;
}

span {
  white-space: nowrap;
}

.content {
  overflow: inherit;
}

.nav-main {
  flex-grow: 1;
  overflow: scroll;
  max-height: 60%;
}

.avatar {
  border-radius: 36.22px;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

.overline {
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  font: 500 10px/12px "Inter", sans-serif;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font: 500 14px/20px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
}

.divider {
  background: #444;
  border-radius: 2px;
  align-self: stretch;
  flex-shrink: 0;
  height: 2px;
  position: relative;
}

.navigation {
  display: flex;
  overflow: scroll;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.title2 {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.overline2 {
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  font: 500 10px/12px "Inter", sans-serif;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.link {
  border-radius: 8px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.label {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font: 500 14px/20px "Inter", sans-serif;
  position: relative;
  flex: 1;
}

.icon {
  border-radius: 3%;
  color: #ccc;
  transition: transform 0.4s ease;
}

.function-icon-container {
  margin-right: 0px;
  border-radius: 15%;
  padding: 5px;
  margin-right: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.function-icon-container:hover {
  background: var(--icon-hover-color);
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}


.links-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.link3 {
  border-radius: 4px;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.link3:hover {
  background: var(--link-hover-color);
  cursor: pointer;
}

.label3 {
  color: rgba(255, 255, 255, 0.75);
  text-align: left;
  font: 500 12px/16px "Inter", sans-serif;
  position: relative;
  flex: 1;
}

.link3:hover .label3 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font: 500 12px/16px "Inter", sans-serif;
  position: relative;
  flex: 1;
}

.line {
  background: #2d2f39;
  flex-shrink: 0;
  width: 2px;
  /* height: 130.78px; */
  height: 500px;
  position: absolute;
  left: -13px;
  top: 0px;
}

.link:hover {
  background: var(--link-hover-color);
  cursor: pointer;
}

.link.active {
  background: var(--link-active-color);
}

.link.active i,
.link.active .label {
  color: #fff;
}

.link:hover .icon:not(.function-icon) {
  animation: icon-rotation 0.5s ease;
}

@keyframes icon-rotation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.link:hover i,
.link:hover .label {
  color: rgba(255, 255, 255, 0.9);
}

.navigation2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}

.label5 {
  color: #cc8889;
  text-align: left;
  font: 500 14px/20px "Inter", sans-serif;
  position: relative;
  flex: 1;
}

.dropdown-menu {
  background-color: rgb(37, 37, 37);
  color: rgb(244, 244, 244);
}

.library-options-menu {
  border-radius: 5%;
  font-size: small;
  overflow: visible;
  opacity: 0.9;
}

.dropdown-item {
  background-color: inherit;
  color: inherit;
}

.dropdown-item:hover {
  /* Remove the background-color property */
  color: rgb(214, 214, 214);
  background-color: rgb(49, 49, 49);
}

.library-option {
  padding-left: 1rem;
  padding-right: 0;
}

.function-icon {
  transition: transform 0.4s ease;
}

.function-icon.collapsed {
  transform: rotate(-90deg);
}

.library-list,
.shared-library-list {
  width: 100%;
}

.confirm-save-to-libraries-container {
  padding: 0px 12px 6px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}

.confirm-save-to-libraries-btn {
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: end;
  margin-top: 10%;
  /* background-color: rgb(90, 100, 234); */
  opacity: 0.9;
  color: whitesmoke;
  border: none;
  padding: 4px 10px;
  font-size: small;
}

.cancel-save-to-libraries-btn {
  transition: 0.3s ease;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: end;
  margin-top: 10%;
  background-color: transparent;
  opacity: 0.9;
  border-radius: 4px;
  color: whitesmoke;
  border: none;
  padding: 4px 10px;
  font-size: small;
  cursor: pointer;
}

.cancel-save-to-libraries-btn:hover {
  background-color: gray;
}

.cancel-save-to-libraries-btn:active {
  background-color: #777;
}

/* .libraries-confirm-button:hover {
  background-color: rgb(60, 70, 200);
}

.libraries-confirm-button:active {
  background-color: rgb(40, 60, 180);
} */

.types {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

a.library-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
  /* text-decoration: none; */
}
