{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'paper/css/index.css'%}">
{% endblock %}

{% block content %}
<div class="my-container">
  <div class="switch-button">
    <input class="switch-button-checkbox" type="checkbox" id="toggle-author-search" onchange="toggleSearchType(this)">
    <label class="switch-button-label" for="toggle-author-search">
      <div class="switch-button-slider"></div>
      <span class="switch-button-label-span">Paper</span>
    </label>
  </div>

  <div class="form-container">
    <form action="{% url 'paper:search' %}" method="get" class="search-bar">
      <input type="text" name="query" id="query-field" placeholder="Search..."
        value="{{ form.query.value|default_if_none:'' }}" autocomplete="on">
      <input type="hidden" name="page" value="{{ form.page.value|default:1 }}">
      <input type="hidden" name="searchPaper" value="true" id="paper-search">
      <ul id="autocomplete-results" class="autocomplete-active"></ul>
      <button class="search-button" type="submit">
        <img src="{% static 'paper/images/search.png' %}" alt="search-icon">
      </button>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  function toggleSearchType(checkbox) {
    var searchPaper = document.getElementById("paper-search");
    if (checkbox.checked) {
      searchPaper.value = "false";
    } else {
      searchPaper.value = "true";
    }
  }
</script>
{% endblock %}