<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    main.container {
        flex: 1;
        max-width: inherit;
        min-height: 100vh;
    }
    .footer {
        flex-shrink: 0;
    }
  </style>
  {% block extra-css %}
  {% endblock %}
  <title>InfiniCite</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">InfiniCite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'paper:index' %}">Search Online</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:index' %}">My Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact/">Contact</a>
                </li>
            </ul>

            <!-- Display user information if user is authenticated -->
            {% if user.is_authenticated %}

            <ul class="navbar-nav ml-auto">
                <li class="navbar-text nav-item">
                    Welcome, {{ user.username }}!
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:register' %}">Sign Up</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>

    <main class="container">
        <h1>
            {% block heading %}
            {% endblock %}
        </h1>
        
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="text-center">
            <span class="text-muted">© 2023 InfiniCite</span>
        </div>
    </footer>
</body>
</html>