<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block css %}
  {% endblock %}
  <title>InfiniCite</title>
</head>

<body>
  {% if user.is_authenticated %}
  <aside data-sidebar>
    {% include 'sidebar.html' %}
  </aside>
  {% endif %}
  <section>
    <nav>
      {% include 'navbar.html' %}
    </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </section>
  <script>
    const menuIconButton = document.querySelector("[data-menu-icon-btn]")
    // const sidebar = document.querySelector("[data-sidebar]")
    const body = document.querySelector("body")
    menuIconButton.addEventListener("click", () => {
      body.classList.toggle("sidebar-closed")
    })

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
  </script>
  {% block js %}
  {% endblock %}
</body>

</html>