<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/autocompletion.css' %}">
  {% block css %}
  {% endblock %}
  <title>InfiniCite</title>
</head>

<body>
  {% if user.is_authenticated %}
  <aside data-sidebar>
    {% include 'sidebar.html' %}
  </aside>
  {% endif %}
  <section>
    <nav>
      {% include 'navbar.html' %}
    </nav>

    <div id="myModal" class="modal">
      <div class="modal-content">

        <div class ="toggle-level">
          <div role="button" tabindex="0" id="semanticButton" class="searchButton">
            <i class="bi bi-option"></i>
            Semantic Search
          </div>

          <div role="button" tabindex="0" id="naturalLangButton" class="searchButton">
            <i class="bi bi-option"></i>
            Natural Language Search
          </div>

        </div>

        <div class="searchbar-divider"> </div>

        <div class="search-level">
          <i class="bi bi-search icon"></i>
          <input type="text" placeholder="Search..." id="query-field1">
        </div>

        <div class="searchbar-divider"> </div>

        <div class="toggle-level">
          <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-arrow-down-up"></i>
              sort
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <a class="dropdown-item" href="#">Best matches</a>
              <a class="dropdown-item" href="#">Time: Newest first</a>
              <a class="dropdown-item" href="#">Time: Oldest first</a>
              <a class="dropdown-item" href="#">Citation</a>
            </div>
          </div>

          <div role="button" tabindex="0" id="myButton">
            <i class="bi bi-fonts"></i>
            Title only
          </div>

          <div role="button" tabindex="0" id="authorButton">
            <i class="bi bi-person"></i>
            author
          </div>


          <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-file-earmark"></i>
              In
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <input type="text" placeholder="Search libraries..." id="searchBar-in">

              {% for library in libraries %}
              <a class="dropdown-item" href="#" data-library-name="{{ library.name }}" library-id="{{ library.id }}">
                <i class="bi bi-folder"></i>
                {{library.name}}
              </a>
              {% endfor %}

            </div>
          </div>

          <div class="btn-group">
            <div class="btn-group">
              <button id="dateButton" class="btn btn-secondary" data-toggle="datepicker">
                <i class="bi bi-calendar-date"></i>
                <span id="dateText">Date</span>
                <i class="bi bi-caret-down-fill" style="font-size: 11px;"></i>
              </button>
            </div>
          </div>


        </div>

        <div class="autosearch-level">
          <ul id="autocomplete-results1" class="autocomplete-active"></ul>
        </div>

      </div>
    </div>

    <main>
      {% block content %}
      {% endblock %}
    </main>
  </section>
  <script src="{% static 'js/autocompletion.js' %}"></script>
  <script>
    const menuIconButton = document.querySelector("[data-menu-icon-btn]")
    // const sidebar = document.querySelector("[data-sidebar]")
    const body = document.querySelector("body")
    menuIconButton.addEventListener("click", () => {
      body.classList.toggle("sidebar-closed")
    })

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');


    var modal = document.getElementById("myModal");
    var btn = document.getElementById("searchButton");

    btn.onclick = function () {
      modal.style.display = "block";
    }

    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    document.addEventListener('keydown', function (event) {
      // event.key holds the key that was pressed
      if (event.ctrlKey && event.key.toLowerCase() === 'k') {

        if (modal.style.display == "block") {
          modal.style.display = "none";
        } else {
          modal.style.display = "block";
        }
        console.log('Ctrl+K was pressed');
      }
    });

    // control title only and author button 
    const mybutton = document.getElementById('myButton');
    mybutton.addEventListener('click', function () {
      this.classList.toggle('active');
      console.log('mybutton is activated')
    });

    const authorbutton = document.getElementById('authorButton');
    authorbutton.addEventListener('click', function () {
      this.classList.toggle('active');
      console.log('mybutton is activated')
    });

    $(document).ready(function () {
      // Initialize the date picker
      $('#dateButton').datepicker({
        format: 'yyyy-mm-dd',
        todayBtn: 'linked',
        clearBtn: true,
        autoclose: true
      });

      // Listen for the changeDate event
      $('#dateButton').on('changeDate', function (changeText) {
        $('#dateText').text('Date: ' + changeText.format());
        this.classList.add('active');
      });

      $('#dateButton').on('clearDate', function () {
        $('#dateText').text('Date');
        $('#dateButton')[0].classList.remove('active');
        //wrong but work ^^ no idea
        console.log(test);
      });

      const authorbutton = document.getElementsByClassName('');
      // Show the date picker when the button is clicked
      $('#dateButton').click(function () {
        this.classList.toggle('visible');

        if ($(this).hasClass('visible')) {
          $(this).datepicker('show');
        } else {
          $(this).datepicker('hide');
        }
      });
    });

    var libraryID = null;
    let libraryIDArray = []

    $(document).ready(function () {
      // Event listener for dropdown item click
      $('.dropdown-item').on('click', function () {
        var selectedText = $(this).text();
        var parentID = $(this).closest('.dropdown-menu').attr('aria-labelledby');
        console.log(parentID)

        if (selectedText === 'Best matches') {
          $('#' + parentID).html('<i class="bi bi-arrow-down-up"></i>' + 'sort');
        } else {
          $('#' + parentID).html(selectedText);
        }
        // IN 
        if (parentID === 'dropdownMenuButton') {
          $('#' + parentID).html('<i class="bi bi-file-earmark"></i>' + 'In: ' + selectedText);
          $('#' + parentID).addClass('active');
          libraryID = $(this).attr('library-id');
          libraryIDArray.push(libraryID);
        }
      });
    });

    // make the search bar in "IN" dropdown interactive
    $(document).ready(function () {
      $("#searchBar-in").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $(".dropdown-item").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    // Adding event listener to the search input in the search-level
    document.querySelector('.search-level input').addEventListener('keypress', function (e) {
      if (e.key === 'Enter') {
        // If Enter key is pressed

        const queryParam1 = document.querySelector('.search-level input').value; // Get value of the search input
        const selectedSort = document.querySelector('#dropdownMenuButton1').innerText.trim(); // Get selected item in 'Sort'
        const titleOnly = document.querySelector('#myButton').classList.contains('active'); // Get whether 'title only' is active

        // Prepare query params
        const params = new URLSearchParams({
          query: queryParam1,
          sort_by: selectedSort,
        });
        // Prepare request body
        const body = {
          is_title_Only: titleOnly,
          library_ids: libraryIDArray,
        };

        fetch(`/api/paper/search/?` + params, {
          method: 'POST',
          body: JSON.stringify(body),
          headers: { 'Content-Type': 'application/json', 'X-CSRFToken': csrftoken }
        })
          .then(response => response.json())
          .then(data => console.log(data))
          .catch((error) => {
            console.error('Error:', error);
          });
      }
    });


    const debounce1 = (callback, delay) => {
      let timerId;

      return (...args) => {
        clearTimeout(timerId);
        timerId = setTimeout(() => {
          callback.apply(this, args);
        }, delay);
      };
    };

    const inputField1 = document.querySelector('#query-field1');
    const resultsList1 = document.querySelector('#autocomplete-results1');

    const debounceAutocomplete1 = debounce1((event) => {

      const queryParam1 = document.querySelector('.search-level input').value; // Get value of the search input
        const selectedSort = document.querySelector('#dropdownMenuButton1').innerText.trim(); // Get selected item in 'Sort'
        const titleOnly = document.querySelector('#myButton').classList.contains('active'); // Get whether 'title only' is active

        // Prepare query params
        const params = new URLSearchParams({
          query: queryParam1,
          sort_by: selectedSort,
        });
        // Prepare request body
        const body = {
          is_title_only: titleOnly,
          library_ids: libraryIDArray,
        };
        console.log(params)
        console.log(body)

        fetch(`/api/paper/search/?` + params, {
          method: 'POST',
          body: JSON.stringify(body),
          headers: { 'Content-Type': 'application/json', 'X-CSRFToken': csrftoken }
        })
        .then(response => response.json())
        .then(data => {
          resultsList1.innerHTML = '';

          console.log(data);
          // Check if data is an array
          if (Array.isArray(data)) {

            // Populate the results in the dropdown
            data.forEach((result, index) => {

              const li = document.createElement('li');
              const paperTitle = document.createElement('div');
              const authorsYear = document.createElement('div');
              paperTitle.classList.add('paperTitle');
              authorsYear.classList.add('authorsYear');

              paperTitle.innerText = result._source.title;

              const authors = result._source.authors.map(author => author.name).join(', ');
              const year = new Date(result._source.publicationDate).getFullYear();
              authorsYear.innerText = `${authors} (${year})`;

              li.addEventListener('click', () => {
                inputField1.value = result._source.title;
                resultsList1.innerHTML = '';
              });


              li.appendChild(paperTitle);
              li.appendChild(authorsYear);
              resultsList1.appendChild(li);
            });

            // Show the results dropdown if there are suggestions
            if (data.length > 0) {
              //resultsList.style.display = 'block';
            }
          } else {
            // Handle the case when data is not an array
            console.error('Invalid response format');
          }
        });

      // Call your autocomplete API here with the query
      console.log(`Calling autocomplete API with query: ${queryParam1}`);
    }, 300);

    inputField1.addEventListener('input', debounceAutocomplete1);

    // semantic search button
    document.addEventListener('DOMContentLoaded', function() {
    var buttons = document.getElementsByClassName('searchButton');
    for (var j = 0; j < buttons.length; j++) {
        buttons[j].addEventListener('click', function() {
            var wasActive = this.classList.contains('active');

            // Remove 'active' class from all buttons
            for (var k = 0; k < buttons.length; k++) {
                buttons[k].classList.remove('active');
            }
            // If the button wasn't active before, add 'active' class to it
            if (!wasActive) {
                this.classList.add('active');
            }

            var btnGroups = document.getElementsByClassName('btn-group');
            for (var i = 0; i < btnGroups.length; i++) {
                if(!this.classList.contains('active')){
                    btnGroups[i].style.display = '';
                }else{
                    btnGroups[i].style.display = 'none';
                }
            }
            
            var otherButtons = document.querySelectorAll('#myButton, #authorButton');
            for (var i = 0; i < otherButtons.length; i++) {
                if(!this.classList.contains('active')){
                    otherButtons[i].style.display = '';
                }else{
                    otherButtons[i].style.display = 'none';
                }
            }
        });
    }
});

  </script>
  {% block js %}
  {% endblock %}
</body>

</html>